@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* contenedor principal limpio */
#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* colores de fondo para toda la pagina */
body {
  margin: 0;
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

/* colores para cuando el modo oscuro se activa */
.dark body {
  @apply bg-[#0B0C10] text-white;
}